{% extends 'index.html' %}
{% block content %}

<!-- start breadcumbss title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-left">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">App</a></li>
                    <li class="breadcrumb-item active">Atendimento</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<!-- start page lista lider -->

<div class="row">
    <section id="fila-espera">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h4>Fila de espera</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive-sm">
                        <table class="table table-striped table-centered mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Hora</th>
                                    <th scope="col">Exame</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for paciente in pacientes_em_atendimento %}
                                <tr>
                                    <td>{{ paciente.id }}</td>
                                    <td>{{ paciente.nome_completo }}</td>
                                    <td>{{ paciente.data_cadastro }}</td>
                                    <td>{{ paciente.solicitacao }}</td>
                                    <td>
                                        <a href="{% url 'atendimento_preencher_exame' id=paciente.id %}" class="text-reset fs-16 px-1"> <i
                                                class="ri-dossier-line"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="fila-atendidos">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h4>Atendidos</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive-sm">
                        <table class="table table-striped table-centered mb-0">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Data Exame</th>
                                    <th>Conclusão</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for paciente in pacientes_atendidos %}
                                <tr>
                                    <td>{{ paciente.paciente_id }}</td>
                                    <td>{{ paciente.data_exame }}</td>
                                    <td>{{ paciente.conclusao }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end page lista paciente -->

{% endblock %}
