{% extends 'index.html' %}
{% block content %}


<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">App</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
                    <li class="breadcrumb-item active">Dashboards</li>
                </ol>
            </div>
            <h4 class="page-title">Dashboards</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-xxl-3 col-sm-6">
        <div class="card widget-flat text-bg-pink">
            <div class="card-body">
                <div class="float-end">
                    <i class="ri-eye-line widget-icon"></i>
                </div>
                <h6 class="text-uppercase mt-0" title="Customers">Líderes Cadastrados</h6>
                <h2 class="my-2">8</h2>
                <p class="mb-0">
                    <span class="badge bg-white bg-opacity-10 me-1"></span>
                    <span class="text-nowrap"></span>
                </p>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-xxl-3 col-sm-6">
        <div class="card widget-flat text-bg-purple">
            <div class="card-body">
                <div class="float-end">
                    <i class="ri-wallet-2-line widget-icon"></i>
                </div>
                <h6 class="text-uppercase mt-0" title="Customers">Colaboradores Cadastrados</h6>
                <h2 class="my-2">19</h2>
                <p class="mb-0">
                    <span class="badge bg-white bg-opacity-10 me-1"></span>
                    <span class="text-nowrap"></span>
                </p>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-xxl-3 col-sm-6">
        <div class="card widget-flat text-bg-info">
            <div class="card-body">
                <div class="float-end">
                    <i class="ri-shopping-basket-line widget-icon"></i>
                </div>
                <h6 class="text-uppercase mt-0" title="Customers">Reuniões</h6>
                <h2 class="my-2">3</h2>
                <p class="mb-0">
                    <span class="badge bg-white bg-opacity-25 me-1"></span>
                    <span class="text-nowrap"></span>
                </p>
            </div>
        </div>
    </div> <!-- end col-->

</div>

<!-- Reunioes -->
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body p-0">
                <div class="p-3">
                    <div class="card-widgets">
                        <a href="javascript:;" data-bs-toggle="reload"><i class="ri-refresh-line"></i></a>
                        <a data-bs-toggle="collapse" href="#yearly-sales-collapse" role="button" aria-expanded="false"
                            aria-controls="yearly-sales-collapse"><i class="ri-subtract-line"></i></a>
                        <a href="#" data-bs-toggle="remove"><i class="ri-close-line"></i></a>
                    </div>
                    <h5 class="header-title mb-0">Líderes</h5>
                </div>

                <div id="yearly-sales-collapse" class="collapse show">

                    <div class="table-responsive">
                        <table class="table table-nowrap table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th>Departamento</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for lider in lideres %}
                                <tr>
                                    <td>{{ lider.id }}</td>
                                    <td>{{ lider.nome }}</td>
                                    <td>{{ lider.departamento }}</td>
                                    <td>{{ lider.email }}</td>
                                </tr>
                                {% endfor %}                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> <!-- end card-->
    </div> <!-- end col-->
</div>
<!-- end row -->

<!-- Reunioes -->
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body p-0">
                <div class="p-3">
                    <div class="card-widgets">
                        <a href="javascript:;" data-bs-toggle="reload"><i class="ri-refresh-line"></i></a>
                        <a data-bs-toggle="collapse" href="#yearly-sales-collapse" role="button" aria-expanded="false"
                            aria-controls="yearly-sales-collapse"><i class="ri-subtract-line"></i></a>
                        <a href="#" data-bs-toggle="remove"><i class="ri-close-line"></i></a>
                    </div>
                    <h5 class="header-title mb-0">Colaboradores</h5>
                </div>

                <div id="yearly-sales-collapse" class="collapse show">

                    <div class="table-responsive">
                        <table class="table table-nowrap table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th>Departamento</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for lider in lideres %}
                                <tr>
                                    <td>{{ lider.id }}</td>
                                    <td>{{ lider.nome }}</td>
                                    <td>{{ lider.departamento }}</td>
                                    <td>{{ lider.email }}</td>
                                </tr>
                                {% endfor %}                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> <!-- end card-->
    </div> <!-- end col-->
</div>
<!-- end row -->

<!-- Reunioes -->
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body p-0">
                <div class="p-3">
                    <div class="card-widgets">
                        <a href="javascript:;" data-bs-toggle="reload"><i class="ri-refresh-line"></i></a>
                        <a data-bs-toggle="collapse" href="#yearly-sales-collapse" role="button" aria-expanded="false"
                            aria-controls="yearly-sales-collapse"><i class="ri-subtract-line"></i></a>
                        <a href="#" data-bs-toggle="remove"><i class="ri-close-line"></i></a>
                    </div>
                    <h5 class="header-title mb-0">Reuniões</h5>
                </div>

                <div id="yearly-sales-collapse" class="collapse show">

                    <div class="table-responsive">
                        <table class="table table-nowrap table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Líder</th>
                                    <th>Colaborador</th>
                                    <th>Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for lider in lideres %}
                                <tr>
                                    <td>{{ lider.id }}</td>
                                    <td>{{ lider.nome }}</td>
                                    <td>{{ lider.departamento }}</td>
                                    <td>{{ lider.email }}</td>
                                </tr>
                                {% endfor %}                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> <!-- end card-->
    </div> <!-- end col-->
</div>
<!-- end row -->

{% endblock %}