<main>
    <section id="fila-atendimento" class="py-5">
        <div class="container">
            <h2>Atendimento</h2>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <section>
                        <h4>Fila de espera: </h4>
                        <div class="row">
                            <div class="col">
                                <table class="table table-striped" id="tabela-espera">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nome</th>
                                            <th scope="col">CPF</th>
                                            <th scope="col">Hora</th>
                                            <th scope="col">Exame</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Conteúdo da tabela de espera -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                    <p></p>
                    <p></p>
                    <section>
                        <h4>Candidatos atendidos:</h4>
                        <div class="row">
                            <div class="col">
                                <table class="table table-striped" id="tabela-atendidos">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Hora</th>
                                            <th>Conclusão</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Conteúdo da tabela de candidatos atendidos -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</main>