{% extends 'index.html' %}
{% block content %}

<!-- start breadcumbss title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-left">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">App</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Cadastro</a></li>
                    <li class="breadcrumb-item active">Lider</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<!-- start page lista lider -->

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#signup-modal">Criar Líder</button>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-select">
                            <option selected="">Filtros:</option>
                            <option value="1">Ativos</option>
                            <option value="2">Inativos</option>
                            <option value="3">Todos</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive-sm">
                    <table class="table table-striped table-centered mb-0">
                        <thead>
                            <tr>
                                <th class="col1">ID</th>
                                <th class="col2">Nome</th>
                                <th class="col3">Setor</th>
                                <th class="col4">E-mail</th>
                                <th class="col5">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for lider in lideres %}
                            <tr>
                                <td>{{ lider.id }}</td>
                                <td>{{ lider.nome }}</td>
                                <td>{{ lider.departamento }}</td>
                                <td>{{ lider.email }}</td>
                                <td>
                                    <a href="javascript: void(0);" class="text-reset fs-16 px-1"> <i
                                            class="ri-settings-3-line"></i></a>
                                    <a href="javascript: void(0);" class="text-reset fs-16 px-1"> <i
                                            class="ri-delete-bin-2-line"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end page lista lider -->

<!-- modal criar -->
<div id="signup-modal" class="modal fade" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="mt-0 mb-4">Cadastrar Líder</h2>
                <form class="ps-3 pe-3" action="/criar_lider/" method="POST">

                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input class="form-control" type="text" id="nome" name="nome" required=""
                            placeholder="Digite seu nomes">
                    </div>

                    <div class="mb-3">
                        <label for="departamento" class="form-label">Departamento</label>
                        <input class="form-control" type="text" id="departamento" name="departamento" required=""
                            placeholder="Digite seu email">
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input class="form-control" type="email" required="" id="email" name="email"
                            placeholder="Digite seu Email">
                    </div>

                    <div class="mb-3">
                        <label for="senha" class="form-label">Senha</label>
                        <input class="form-control" type="password" required="" id="senha" name="senha"
                            placeholder="Digite sua senha">
                    </div>

                    <div class="mb-3">
                        <label for="confirmar_senha" class="form-label">Confirme sua senha</label>
                        <input class="form-control" type="password" required="" id="confirmar_senha"
                            name="confirmar_senha" placeholder="Confirme sua senha">
                    </div>

                    <div class="mb-3 text-center">
                        <button class="btn btn-primary" type="submit">Cadastrar</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<!-- end modal criar -->

{% endblock %}